@import './page/index.css';
@import './common/index.css';

:root {
  --pf-primary-bg-color: 217, 92%;

  --primary: hsla(var(--pf-primary-bg-color), 50%, 100%);
  --primary-hover: hsla(var(--pf-primary-bg-color), 40%, 100%);
  --primary-focus: hsla(var(--pf-primary-bg-color), 30%, 100%);
}

body {
  margin: 0;
  box-sizing: border-box;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  background-color: #eee;
}
