.l-match-list {
  display: flex;
  flex-direction: column;
}

.l-match-list__item {
  padding: 16px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;

  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.l-match-list__l-action-list {
  width: 20%;

  display: flex;
  gap: 8px;
}

.c-match-info {
}

.c-match-info__time {
  font-size: 13px;
  font-weight: 600;
}

.c-match-info__promotion {
  font-size: 10px;
  font-weight: 400;
  color: #1570ff;
}

.c-match-info__title {
  font-size: 14px;
  font-weight: 400;
}

.c-match-info__tag {
  font-size: 10px;
  color: #727f88;
}

.c-match-info__tag:nth-child(n + 2)::before {
  content: '·';
  padding-right: 5px;
}
